* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

#title {
  width: 480px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 5em;
  background-repeat: no-repeat;
  background-position: 2px;
}

.counter {
	font-size: 6em;
}

#inputHour, #inputMinute, #inputSecond, #buttons {
	padding: 2em;
}

#title, #inputs, #buttons {
	text-align: center;
}

button {
	padding: 1.5em;
	padding-left: 2.5em;
	padding-right: 2.5em;
}